<div class="nav-menu">
    <nav class="menu">
      <div class="nav-header">
        <a href="home.html"><img src="assets/template/img/logo.png" width="220" class="logo"></a>
      </div>
      <div class="nav-container">
        <ul class="main-menu">
          <li *ngIf="user" (click)="logout()">
            <a><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
          <li *ngIf="!user">
            <a><i class="fas fa-sign-in-alt"></i> Sign In</a>
          </li>
          <li *ngIf="user">
            <a href="/home"><i class="fa fa-home"></i> Home</a>
          </li>
          <li *ngIf="user">
            <a href="/profile"><i class="fa fa-user"></i> Profile</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>