.add-trip{
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    background-color: #006699;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

.is-invalid {
    border: 1px solid red;
}

.popup-overlay {
    z-index: 10000;
}

.add-file{
    padding: 5px;
}

.mapboxgl-ctrl-geocoder { 
    min-width:100%;
 }
