<div>
    <form [formGroup]="tripForm">
      <div class="add-trip" data-popup="addTripPopup">
        <i class="fa fa-map-marked-alt"></i>
      </div>
      
      <div class="popup-overlay" id="addTripPopup">
        <div class="popup-container">
          <div class="popup-header">
            <h3 class="popup-title">Add a Discovery</h3>
            <span class="popup-close" data-dismiss="true"><i class="fa fa-times"></i></span>
          </div>
          <div class="popup-content">
            
            <div class="form-row-group">
              <div class="form-row no-padding">
                <input type="text" name="name" class="form-element last-element" placeholder="Title">
              </div>
            </div>
      
            <div class="form-mini-divider"></div>
      
            <div class="form-row-group">
              <div class="form-row no-padding">
                <textarea class="form-element last-element" placeholder="Discovery Story" rows="6"></textarea>
              </div>
            </div>

            <div class="form-mini-divider"></div>

            <div class="form-row-group">
              <div class="form-row no-padding">
                <select class="form-element last-element" formControlName="countryControl" [value]='allCountries[0]' (change)="countryChanged($event)">
                  <option [value]="country" *ngFor="let country of allCountries" [hidden]="country == 'Country'">
                    {{country}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-mini-divider" *ngIf="shouldShowCities()"></div>

            <div class="form-row-group" *ngIf="shouldShowCities()">
              <div class="form-row no-padding">
                  <select class="form-element last-element" formControlName="cityControl" [value]='allCities[0]' >
                    <option [value]="city" *ngFor="let city of allCities">{{city}}</option>
                  </select>
                </div>
            </div>

            <div class="form-mini-divider"></div>

            <div class="form-row">Add Images</div>
            <div class="trip-images">
                <div class="pic">
                  +
                </div>
            </div>

            <!-- <div class="form-row-group">
              <div class="form-row add-file">
                  <input type="file" (change)="setImage($event)" accept=".png,.jpg" />
              </div>
            </div> -->
      
          </div>
          <div class="popup-footer">
            <button class="button green" (click)="addUser(tempUser)">Save</button>
          </div>
        </div>
      </div>
    </form>
</div>

