.image{
  width: 100%
}

.item-detail {
  font-size: 22px;
  color: #006699
}

.form-row {
  padding: 0;
  padding-bottom: 7px;
}

.stat-wrapper {
  margin-top: 7px;
  width: 100%;
  height: 80px;
}

.user-name {
  display: inline-block;
  margin-left: 17px;
  position: relative;
  font-size: 22px;
  font-weight: bold;
  top: -42px;
}
